chroma-hnswlib
chromadb
langchain
langchain-chroma
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langchainhub
langsmith
numpy
pandas
pydantic
pydantic-settings
pydantic_core
PyMuPDF
pypdf
regex
requests
scikit-learn
streamlit
tiktoken
toml
urllib3
utility
pysqlite3-binary
